<?xml version="1.0" encoding="utf-8"?>
<VSHelperZip>
  <Root>.</Root>
  <OutputDir>_zip</OutputDir>
  <ArchiveName>{Solution.Name}.zip</ArchiveName>
  <StartProject>VS.Helper.csproj</StartProject>
  <IncludeProjectClosure>true</IncludeProjectClosure>
  <IncludeSolutionFiles>true</IncludeSolutionFiles>
  <IncludeManifest>true</IncludeManifest>
  <Include />
  <Exclude>
    <Pattern>bin/**</Pattern>
    <Pattern>**/bin/**</Pattern>
    <Pattern>obj/**</Pattern>
    <Pattern>**/obj/**</Pattern>
    <Pattern>.vs/**</Pattern>
    <Pattern>**/.vs/**</Pattern>
    <Pattern>.git/**</Pattern>
    <Pattern>**/.git/**</Pattern>
    <Pattern>.idea/**</Pattern>
    <Pattern>**/.idea/**</Pattern>
    <Pattern>.vscode/**</Pattern>
    <Pattern>**/.vscode/**</Pattern>
    <Pattern>packages/**</Pattern>
    <Pattern>**/packages/**</Pattern>
    <Pattern>TestResults/**</Pattern>
    <Pattern>**/TestResults/**</Pattern>
    <Pattern>_zip/**</Pattern>
    <Pattern>**/_zip/**</Pattern>
    <Pattern>VSIX/**</Pattern>
    <Pattern>**/VSIX/**</Pattern>
    <Pattern>*.user</Pattern>
    <Pattern>*.suo</Pattern>
    <Pattern>*.cache</Pattern>
    <Pattern>*.log</Pattern>
    <Pattern>*.zip</Pattern>
    <Pattern>*.nupkg</Pattern>
    <Pattern>*.vsix</Pattern>
    <Pattern>*.pdb</Pattern>
    <Pattern>VS.Helper.Zip.xml</Pattern>
    <Pattern>**/*.bak</Pattern>
    <Pattern>**/*.tmp</Pattern>
  </Exclude>
</VSHelperZip>